*{
margin: 0;
padding: 0;

}

body{
  font-family: sans-serif;
}

.links{
  padding: 0%;
  margin: 0%;

}

.textimg{
  background-image: url('../images/sunset.JPG');
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  overflow: scroll;
}

.aboutcontainer, .textcontainer, .blogcontainer{
  padding: 150px 25px 0;
}

.textcontainer{
  padding-top: 35vh;
}


.instalogocontainer{
  display: flex; 
  align-items: center; 
  justify-content: center;
  border: 5px solid #fff;
  
  
}

.instalogocontainer h1{
border: none;
}

.instalogocontainer img{
  width: 80px;
}

.instalogocontainer a{
  margin-right: 15px;
}

h1{
  color: white;
  font-size: 70px;
  border-style: solid;
  border-width: 5px;
  /* padding-left: 40px; */
  text-align: center;

}

p{
color: black;
font-size: 16px;
text-align: left;
padding-top: 10px 0px;
margin-bottom: 20px;

}

h5{
  color: white;
  font-size: 22px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  padding: 4px 0px;
  margin-bottom: 20px;
}

#welcome{
  font-style: italic;
}


h6{
  color: white;
  font-size: 18px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  padding: 4px 0px;
  margin-bottom: 20px;
}

.definition{
  color: white;
  font-size: 22px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  padding: 4px 0px;
  margin-top: 20px;
  font-weight: lighter;
  font-style: italic;
}

.blogquestion{
  font-weight: bold;
}

.quotestyle{
  font-style: italic;ß
}

.navbar{
background-color: whitesmoke;  
background-blend-mode: overlay;
width: 300px;
height: 100%;
position: fixed;
right: -300px;
display: flex;
justify-content: center;
align-items: center;
transition: 0.8s;

}




.change{
  right: 0px;
}

.menubtn{
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 40px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.line{
  background-color: #ca9245;
  width: 100%;
  height: 5px;
  transition:  all 0.5s;


}

.change .line-1{
  transform: rotateZ(45deg) translate(8px, 6px);
  
}

.change .line-2{
  opacity: 0; 
}


.change .line-3{
  transform: rotateZ(-45deg) translate(8px,-6px);

}
.nav-item{
  list-style: none;
  margin: 30px;
}

.link{
  color: #747f8e;
  text-decoration: none;
  font-size: 35px;
  text-transform: uppercase;
}

.core-blogs{
  /* position: absolute;
  top: 500px;
  left: 80px;
  right: 80px; */
  list-style-type: none;
 
}

.core-blogs li, .blogcontent{
  box-sizing: border-box;
  border: 3px solid whitesmoke;
  padding: 40px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px){
  .core-blogs{
      display: flex;
      justify-content: flex-start;
      column-gap: 5%;
      flex-wrap: wrap;
      align-items: stretch;
    
  }
  .core-blogs li{
      width: 47.5%;
      margin: 15px 0px;ß

  }

  @media screen and (min-width: 400px){
    #welcome{
      color: #8eb5f5;
    }
    .core-blogs li{
      width: 30%;
    }
  }

  @media screen and (min-width: 375px){
    .core-blogs li{
      width: 30%;
  
    }
  }


/* media screen for devices 980px <*/
@media screen and (min-width: 980px){
  .core-blogs li{
    width: 30%;

  }
}

}

